.scroll-section-outer {
    width: 100%;
    overflow: hidden;
  }
  
  .scroll-section-inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .scroll-wrapper {
    display: flex;
    flex-direction: row;
    width: fit-content;
  }
  
  .sl {
    flex: 0 0 auto;
    width: 80vw; /* Adjust based on how many cards per screen */
    margin: 1rem;
    padding: 1.5rem;
    background-color: #63462d;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  