html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #F9F6EE;
}

.hi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  gap: 0px;
}

.hi h1 {
  font-family: "Irish Grover", cursive;
  font-size: 5em;
  margin: 0;
}

.hi h2 {
  font-family: "Irish Grover", cursive;
  font-size: 2em;
  margin: 0;
}
.hi img{
  width: 7em;
  height: 22em;
}
main {
  width: 100%;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #63462D;
  gap: 0px;
  color: #FFFFFF;
  font-family: "Irish Grover", cursive;
  font-size: 1.5em;
  margin-top: 10px;
}
footer p{
  margin: 0;  
  font-family: "Irish Grover", cursive;
  font-size: 1em;
}

.s_carousel h1{
  font-family: "Irish Grover", cursive;
  font-size: 2em;
  text-align: center;
}
.sl {
  background-color: #63462D;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px; /* Centers the element horizontally */
  min-height: 40vh;
  max-width: 100%;
  min-width: 50vw;
  width: fit-content; /* Ensures container width fits content */
  border-radius: 30px;
  cursor: pointer;
  padding: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal; /* Ensures text wrapping */
}

.sl h1 {
  top: 0;
  font-family: "Itim", cursive;
  font-size: 5vh;
  margin: 0;
}

.sl h2 {
  font-family: "Itim", cursive;
  font-size: 3vh;
  margin: 0;
  opacity: 0.6;
}
.sl p {
  
  font-family: "Itim", cursive;
  font-size: 3vh;
  margin: 0;
  text-align: center;
  white-space: pre-line;
  
}

.scroll-section-inner{
  display: flex;
}
.scroll-section-outer{
  overflow: hidden;
}
.interested{
  text-align: center;
  font-family: "Irish Grover", cursive;
  font-size: 1.5em;
  text-align: center;
  margin-top: 1vw;
}
.interested a{
  margin: 10vw;
}
.interested #me{
  border-radius: 100%;
}
.interested img{
  max-width: 300px;
  max-height: 300px;
  width: 10vw;
  height: 10vw;
}